<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestjoy.app.haierwarrantycard"
    android:versionCode="1"
    android:versionName="1.0" >

     <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
     <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
     <!-- add by chenkai 2012-10-20 for privacy module begin -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- add by chenkai 2012-10-20 for privacy module end -->    
    
     <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
     <!-- 允许用户传入号码直接拔号，不需要通过用户界面确认 -->
     <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MainActivity"
            android:theme="@style/AppTheme.MainActivityActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.NewCardActivity"
            android:screenOrientation="portrait"
            android:label="@string/button_new_card" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MyCardActivity"
            android:label="@string/button_my_card" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.RepairActivity"
            android:label="@string/activity_title_repair" 
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
			android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.InstallActivity"
            android:label="@string/activity_title_install" />
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:label="@string/title_login_confirm" />
         <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.LoginConfirmAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:label="@string/title_login" />
        
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MyChooseDevicesActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="@string/activity_title_choose_device_general" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.RegisterConfirmActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="@string/title_new_user_register" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.RegisterActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="@string/title_new_user_register" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.ChooseAddressActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="@string/choose_address" />
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.CaptureActivity"
            android:excludeFromRecents="true"
            android:configChanges="orientation|keyboardHidden"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.LoginOrUpdateAccountDialog"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.BrowserActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/title_feedback" />
        
        <provider android:name="com.bestjoy.app.haierwarrantycard.database.BjnoteProvider"
            android:exported="true"
            android:authorities="com.bestjoy.app.haierwarrantycard.provider.BjnoteProvider"/>
        <provider android:name="com.bestjoy.app.haierwarrantycard.database.DeviceProvider"
            android:exported="true"
            android:authorities="com.bestjoy.app.haierwarrantycard.provider.DeviceProvider"/>
        
        <!-- android:process=":photoservice" -->
        <service android:name="com.bestjoy.app.haierwarrantycard.service.PhotoManagerService" >
            <intent-filter >
                <action android:name="com.bestjoy.app.haierwarrantycard.service.intent.initphotoservice" />
            </intent-filter>
        </service>
        <service android:name="com.bestjoy.app.haierwarrantycard.service.EmptyService" >
            <intent-filter >
                <action android:name="com.bestjoy.app.haierwarrantycard.service.intent.emptyservice" />
            </intent-filter>
        </service>
    </application>

</manifest>
