<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestjoy.app.haierwarrantycard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MainActivity"
            android:theme="@style/AppTheme.MainActivityActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.NewCardActivity"
            android:label="@string/button_new_card" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MyCardActivity"
            android:label="@string/button_my_card" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.RepairActivity"
            android:label="@string/button_repair" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/activity_title_login" />
        <activity
            android:name="com.bestjoy.app.haierwarrantycard.ui.MyChooseDevicesActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="@string/activity_title_choose_device_general"/>
        
    </application>

</manifest>
